In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score, RepeatedKFold
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error,r2_score

In [6]:
df=pd.read_csv('housing.csv')

In [7]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [10]:
X= df.drop(['medv'],axis=1)
y= df['medv']

In [12]:
# Assuming X and y are your feature and target datasets respectively
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
Ridge_model = Ridge(alpha=1).fit(X_train,y_train)
Ridge_model.intercept_

24.87837047296951

In [15]:
y_pred= Ridge_model.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

4.741357980709099

In [17]:
Ridge_model.coef_

array([-0.12383039,  0.03139178,  0.01767668,  2.54277179, -8.77249222,
        4.37980204, -0.01537349, -1.29086084,  0.24406848, -0.01082435,
       -0.83346553,  0.01348642, -0.53435396])

In [18]:
r2_score(y_test,y_pred)

0.6789748327846079

In [21]:
from sklearn.model_selection import GridSearchCV, RepeatedKFold
# Define the cross-validation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

# Define the grid of parameters
grid = dict()
grid['alpha'] = np.arange(0, 1.1, 0.1)  # Corrected to use arange and include the upper limit

# Initialize the Ridge model
model = Ridge()

# Define the grid search
search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

# Fit the model
results = search.fit(X_train, y_train)

# Print the results
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: -3.500
Config: {'alpha': 0.7000000000000001}

In [22]:
Ridge_model = Ridge(alpha=0.7).fit(X_train,y_train)
y_pred = Ridge_model.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

4.7314372103936835

In [24]:
r2_score(y_test,y_pred)

0.680316847044105

In [27]:
pd.Series(Ridge_model.coef_, index= X_train.columns)#negative has been penalized from the previous )

crim       -0.124643
zn          0.031027
indus       0.023550
chas        2.595725
nox       -10.178221
rm          4.382223
age        -0.014263
dis        -1.311503
rad         0.246439
tax        -0.010654
ptratio    -0.850029
b           0.013431
lstat      -0.530846
dtype: float64